{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{- with site.Params.homeInfoParams }}

<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        Neste blog você vai encontrar um total de <strong>{{ len $posts }} posts</strong> sobre os mais diversos tópicos.
        
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
