{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $tags := len .Site.Taxonomies.tags }}

{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content" style="font-size: 1rem">
        Nesta página você vai encontrar um compilado de <a href="/archives"> <strong>{{ len $posts }} posts(s)</strong></a>
        abrangendo por volta de <a href="/tags"> <strong>{{ $tags }} tópico(s)</strong></a>.
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
